importFrom(magrittr, "%>%")
exportPattern("^[[:alpha:]]+")
S3method("$", "loan_df")
S3method("produce_contingency_table", "numeric")
S3method("produce_contingency_table", "factor")
S3method("produce_contingency_table", "character")