importFrom(magrittr, "%>%")
export("%>%")
importFrom(stats, "fisher.test", "p.adjust", "predict", "sd", "t.test", "wilcox.test")
importFrom(dplyr, "arrange")
importFrom(dplyr, "desc")
importFrom(dplyr, "pull")
importFrom(dplyr, "mutate")
importFrom(dplyr, "group_by")
importFrom(dplyr, "summarize")
importFrom(dplyr, "n")
exportPattern("^[[:alpha:]]+")
S3method("contingency_table", "data.frame")
S3method("contingency_table", "numeric")
S3method("contingency_table", "factor")
S3method("contingency_table", "character")
S3method("group_stats", "data.frame")
S3method("group_stats", "numeric")
S3method("group_stats", "factor")
S3method("group_stats", "character")
S3method("psi", "data.frame")
S3method("psi", "numeric")
S3method("psi", "factor")
S3method("psi", "character")
S3method("dynamic_stats", "data.frame")
S3method("dynamic_stats", "list")
S3method("add_woe", "loan_cont_table")
S3method("add_fisher_p", "loan_cont_table")
S3method("plot", "loan_group_stats")
S3method("print", "loan_psi")
S3method("print", "loan_value_map")
S3method("print", "loan_tbl")
S3method("plot_univariate_smooth", "data.frame")
S3method("plot_univariate_smooth", "numeric")
S3method("contingency_table", "logical")
S3method("group_stats", "logical")
S3method("psi", "logical")
